<div class="text-center" id="content">
    <div id="elem">
        <h1>Welcome to Guru your training</h1>
        <p>Build you dream body with us we have every thing you need</p>
        <button id="b2" class="btn btn-outline-warning"> <a href="#c2">start scrolling</a></button>
    </div>
</div>



<div id="first">

    <div class="container" id="c1">
        <h1 id="about">About us : </h1>
        <div class="card-group">
            <div class="card">
                <img src="https://www.filepicker.io/api/file/Ryt0bUWzSU6vKu3HFEKs" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">TRAIN AT HOME</h5>
                    <p class="card-text">No need to leave your house, you can get and stay fit at home. You only need your body and two chairs to start right now.</p>
                </div>

            </div>
            <div class="card">
                <img src="https://www.filepicker.io/api/file/yvr2UkhJSgyUSsfHiYdM" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">EAT WELL</h5>
                    <p class="card-text">Get your nutrition on point to support your training goals. Gain muscle, lose fat and get shredded with the right nutrition.</p>
                </div>

            </div>
            <div class="card">
                <img src="https://www.filepicker.io/api/file/DnwEaz6tR6yMOokqZ5kJ" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">INDIVIDUALIZE</h5>
                    <p class="card-text"> Personal & Online Personal Training for individual needs. Book a 1 on 1 session or order your own online training program.</p>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="second">

    <div class="container" id="c2">
        <h1 id="about">our services : </h1>
        <div id="cardgroup">
            <div class="card-group">
                <div class="card">
                    <img src="https://www.filepicker.io/api/file/xEyS3aOqSo65FZVOJ6cq" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">BUILD MUSCLE</h5>
                        <p class="card-text">Transform your body with Calisthenics & Weighted Calisthenics. Build muscle & get shredded with science based training.</p>
                    </div>

                </div>
                <div class="card">
                    <img src="https://www.filepicker.io/api/file/FROqOVI0QS2DkGuXZxga" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">GET MOBILE</h5>
                        <p class="card-text">Improve your Mobility & Flexibility with our unique system. Fix your posture, prevent injuries and eradicate imbalances.</p>
                    </div>

                </div>
                <div class="card">
                    <img src="https://www.filepicker.io/api/file/7hahuMeqS2GFK174v4Ub" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">MASTER CALISTHENICS</h5>
                        <p class="card-text">The Ultimate Step by Step Guide to master your bodyweight. Increase your strength, learn skills and unleash your true potential.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div id="third">
    <div class="container text-center" id="c3">
        <form>
            <h1>Contact us : </h1>

            <div>
                <input type="email" class="form-control" formControlName="email" placeholder="put your email here">
            </div>
            <div class="mt-3">
                <textarea class="form-control" placeholder="Your Message"></textarea>
            </div>
            <div class="my-5">
                <button class="btn btn-outline-success">Send</button>
            </div>

        </form>
    </div>
</div>


<footer class="py-5 bg-dark">
    <div class="container px-4">
        <p class="m-0 text-center text-white">Copyright &copy; Guru</p>
    </div>
</footer>