<div *ngIf="loggedIn">
    <div class="text-center">
        <h1>Online Health Community</h1>
        <p>Taking Our Health in Our Hands</p>
    </div>

    <div class="container my-5">
        <div id="second" *ngFor='let pub of tabPub'>


            <p>#{{pub.name}} <br> {{pub.content}} </p>
        </div>
        <div class="card my-5" id="mine">

            <div class="card-body">

                <label for="msg"> <p id="para2"  class="card-text">Say something here :</p></label>
                <textarea class="form-control" [(ngModel)]="content" id="msg" placeholder="write anything you want here..."></textarea>
                <button class="btn btn-outline-primary mt-3" (click)="postPub()">Publish</button>


            </div>

        </div>
    </div>
</div>

<ng-container *ngIf="notLoggedIn">
    <div class="container">
        <div class="card" id="yours">
            <h5 class="card-title">Hello there

            </h5>
        </div>
        <div class="center">
            <h4>login to see the forum</h4>
            <button class="btn btn-primary" [routerLink]="['/login']">login now ! </button>
        </div>
    </div>
</ng-container>