#mine {
    border-radius: 12px;
    border: 1px solid black;
}

button {
    font-weight: 500;
    border-radius: 12px;
}

#para1,
#para2 {
    font-weight: 600;
    padding: 15px;
}

#second {
    margin-top: 15px;
    border: 1px solid black;
    padding: 15px;
    background-color: lightblue;
}

#yours {
    height: 60vh;
    margin: 25px;
    padding: 25px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.card-table {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: none;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid black;
}

.center .btn {
    font-size: 14px !important;
    margin-top: 20px !important;
    font-weight: 400;
    padding: 12px 72px;
    border-radius: 3px !important;
}