<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Guru</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/aboutus">About us</a>
                </li>




                <li class="nav-item">
                    <a class="nav-link" href="/forum">Forum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/shop">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cart">cart<div style="font-size:10px;" class="badge bg-danger">{{allPrograms}}</div></a>

                </li>
                <li class="nav-item dropdown" *ngIf="!nothere">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {{yourName}}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><button class="btn btn-dark form-control" [routerLink]="['/update']">Update</button></li>
                        <li><button class="btn btn-dark form-control" (click)="logout()">logout</button></li>

                    </ul>
                </li>
                <button id="b1" class="btn btn-outline-success" *ngIf="nothere"><a href="/register">Join</a></button>




            </ul>


        </div>
    </div>
</nav>