<div class="container mt-3">
    <h1>Payement</h1>
    <form>
        <input type="text" class="form-control mt-3" placeholder="your name...">
        <input type="text" class="form-control mt-3" placeholder="your last name...">
        <input type="text" class="form-control mt-3" placeholder="your email...">
        <input type="text" class="form-control mt-3" placeholder="country...">
        <input type="number" class="form-control mt-3" placeholder="post_code...">
        <input type="text" class="form-control mt-3" placeholder="email...">
        <input type="number" class="form-control mt-3" placeholder="card number...">
        <button class="submit" class="btn btn-success form-control mt-3" (click)="affiche()">Place Order</button>


    </form>
</div>